* {
  box-sizing: border-box;
  /* font-family: 'Chakra Petch', sans-serif; */
  font-family: 'Major Mono Display', monospace;
}

body {
  background: rgb(8, 8, 8);
  color: azure;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

#header {
  display: flex;
  justify-content: space-evenly;
  padding: 10px;
  font-size: 20px;
  width: 100%;
  background-color: #151515;
}

#header > .contact-btn {
  font-size: 20px;
}

h1, h2, .hello {
  background: linear-gradient(90deg, rgba(58,180,169,1) 0%, rgba(29,242,253,1) 50%, rgba(69,191,252,1) 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

p {
  font-family: 'Chakra Petch', sans-serif;
  background: linear-gradient(90deg, rgba(58,180,169,1) 0%, rgba(29,242,253,1) 50%, rgba(69,191,252,1) 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

a:link {
  color: rgba(29,242,253,1);
  display: block;
  text-decoration: none;
  width: fit-content;
  transition: .3s all;
}

a:visited {
  color: rgba(29,242,253,1)
}

a:hover {
  color: white;
  font-weight: bold;
}

.backdrop-1 {
  position: fixed;
  z-index: -3;
  width: 100%;
  top: -20%;
}

#landing {
  position: relative;
  display: block;
  justify-content: center;
  padding-top: 8px;
}

.hello {
  font-size: 45px;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  position: absolute;
  top: 10%;
  left: 5%;
  width: 50%;
  line-height: 1.7;
  z-index: 1;
}

.hello > p {
  font-size: 20px;
  left: -32%;
}

.hillside {
  position: relative;
  width: 100vw;
}

.title {
  background-color: #151515;
  text-align: center;
  margin-top: -2px;
  width: 100%;
}

#projects {
  background-color: #020202;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
  height: 50vh;
}

.sites {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 80vw;
}

.site-card {
  cursor: pointer;
  display: block;
  position: relative;
  width: 20vw;
  height: 15vh;
  margin: 10px;
  overflow: hidden;
  transition: 0.8s ease-in-out;
}

.active {
  height: 45vh;
  width: 57vw;
}

.card-overlay > h2 {
  margin-top: 10px;
  padding-bottom: 1px;
}

.card-text-box {
  display: flex;
  margin-left: 5%;
  margin-right: 5%
}

.img, .card-overlay {
  transition: .3s all;
}

.card-overlay {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  width: 100%;
  opacity: 0;
  padding: 4px;
  text-align: center;
  z-index: 1;
}

.link-container {
  display: flex;
  justify-content: space-between;
}

.github {
  font-size: 28px;
  width: fit-content;
  margin-left: 20px;
}

.netlify {
  font-size: 28px;
  width: fit-content;
  margin-right: 20px;
}

.github:hover {
  color: white;
  font-weight: bold;
  -webkit-text-shadow: 0px 0px 5px 2px rgba(250,250,250,1);
  -moz-text-shadow: 0px 0px 5px 2px rgba(250,250,250,1);
  text-shadow: 0px 0px 5px 2px rgba(250,250,250,1);
}

.netlify:hover {
  color: white;
  font-weight: bold;
  -webkit-text-shadow: 0px 0px 5px 2px rgba(250,250,250,1);
  -moz-text-shadow: 0px 0px 5px 2px rgba(250,250,250,1);
  text-shadow: 0px 0px 5px 2px rgba(250,250,250,1);
}


.card-overlay > h2 {
  padding-top: 2%;
}

.site-card:hover {
  -webkit-box-shadow: 0px 0px 5px 2px rgba(250,250,250,1);
  -moz-box-shadow: 0px 0px 5px 2px rgba(250,250,250,1);
  box-shadow: 0px 0px 5px 2px rgba(250,250,250,1);
}

.site-card:hover .card-overlay {
  cursor: pointer;
  opacity: 1;
}

.site-card:hover .thumbnail {
  -webkit-filter: blur(3px) brightness(0.15);
  filter: blur(3px) brightness(0.15);
  }

.thumbnail {
  flex: none;
  top: 50%;
  left: 50%;
  object-fit: none;
}

footer {
  display: flex;
  justify-content: space-between;
  align-items: inherit;
  height: 20vh;
  width: 100%;
}

.contact {
  display: flex;
  flex-direction: column-reverse;
  justify-content: flex-start;
  align-items: flex-end;
}

.footer-card {
  display: flex;
  justify-content: center;
  width: 26vw;
}

.selfie {
  height: 150px;
  width: 150px;
  border-radius: 50%;
  margin: 13px;
  margin-bottom: 0;
}

footer {
  background-color: #151515;
}

footer > p {
  font-size: 18px;
  width: 200px;
}

.contact-btn {
  color: rgba(29,242,253,1);
  cursor: pointer;
  font-size: 25px;
  transition: .3s all;
  margin-right: 20px;
}

.contact-btn:hover {
  color: white;
  font-weight: bold;
  -webkit-text-shadow: 0px 0px 5px 2px rgba(250,250,250,1);
  -moz-text-shadow: 0px 0px 5px 2px rgba(250,250,250,1);
  text-shadow: 0px 0px 5px 2px rgba(250,250,250,1);
}

#popup {
  visibility: hidden;
  opacity: 0;
  position: fixed;
  text-align: center;
  top: 50%;
  bottom: 50%;
  right: 25%;
  background: rgb(3, 3, 3, 0.8);
  padding: 10px;
  width: 48vw;
  height: 57vh;
  z-index: -1;
  border: solid #1b1b1b 1px;
  top: -50%;
  transition: all .5s ease-in-out;
}

#popup.show {
  visibility: visible;
  z-index: 200;
  opacity: 1;
  top: 25%;
}

#overlay.show {
  opacity: 0.8;
  visibility: visible;
  z-index: 100;
}

#popup:before {
  content: "";
  position: absolute;
  z-index: -1;
  top: 3px;
  left: 3px;
  right: 3px;
  bottom: 3px;
  border: solid #1b1b1b 1px;
}

#popup > form {
  color: rgba(29,242,253,1);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: center;

}

#popup > form > label {
  margin: 5px;
}

#submit {
  color: azure;
  background-color: rgba(29,242,253, 0.8);
  margin-top: 6px;
  width: 130px;
  height: 35px;
}

#submit:hover {
  cursor: pointer;
  filter: brightness(0.7);
}

input {
  width: 27vw;
}

textarea {
  width: 27vw;
  height: 15vh;
}

#overlay {
  visibility: hidden;
  display: block;
  position: fixed;
  top: 0;
  bottom: 0;
  background: #999;
  width: 100%;
  height: 100%;
  opacity: 0%;
  z-index: -1;
}

#popup-close {
  color: rgba(29,242,253,1);
  font-size: 23px;
  float: right;
  cursor: pointer;
  margin-top: 20px;
}

@media only screen and (max-width: 500px) {

  #header {
    font-size: 15px;
  }

  #header > .contact-btn {
    font-size: 15px;
    margin-right: 0px;
  }

  #landing {
    height: 40vh;
  }

  .backdrop-1 {
    top: 44%;
    position: fixed;
  }

  .card-text-box {
    display: none;
  }

  .link-container {
    flex-direction: column;
  }

  .hello {
    left: 18%;
    width: 65%;
  }

  .hillside {
    width: 75%;
    left: 54px;
    margin-top: 70px;
  }

  #projects {
    height: fit-content;
  }

  .sites {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 65vw;
  }

  .site-card {
    width: 50vw;
    /* height: 13vh; */
  }

  #popup {
    right: 25%;
    width: 80vw;
    height: 52vh;
  }

  input {
    width: 65vw;
  }

  textarea {
    width: 65vw;
  }

  footer > p {
    opacity: 0;
  }
}